.container{
    width: 100%;
    max-width: 300px;
    gap: 05px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.328);
}

.img{
    width: 100%;

}

.inform{
   
 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
   
}

.price{
    font-size: 30px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;

}



.title{
    font-size: 15px;
    line-height: 1.5;
}